* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    border:none;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    height: 31px;
    margin: 10px;
    padding: 8px;
    font-weight: 600;

}

.button__primary:hover {
    border: 2px solid black;
    background-image: linear-gradient(to right, #dd2476 0%, #ff512f 51%, #dd2476 100%);
    /* background-position: right center; */
    cursor: pointer;
}

.navbar__nav__items {
    width: 124px;
    height: 51px;
}

.container {
    padding: 20px 20px;
}

.hero__image__container {  
    width:100%;
}

.hero__image {

    width:100%;
}

.hero__text {
    font-size: 30px;
    color: #1D3557;
}




@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width: 1024px) {
    .navbar__brand {
        width: 100px;
    }

    .button__primary {
        /* padding: 2px; */
        font-size: 18px;
        font-weight: 600;
    }
}