* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.nav__item {
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    margin: 10px;
    border: none;
    padding: 8px;
    border-radius: 6px;
    /* transition: width 2s; */
    transition-property: border;
    transition-duration: 4s;
    transition-delay: 2s;
}



.nav__item:hover {
    border: 2px solid #ff6767;
    transition: 3s;
    background-image: linear-gradient(to right, #dd2476 0%, #ff512f 51%, #dd2476 100%);
    /* background-position: right center; */
    cursor: pointer;
    /* width: 200px; */
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }

    .nav__item {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }
}